@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.banner-section{
    margin:0;
    padding:0;
}
.banner-wrapper{
    width:100%;
    .slider-container{
        padding-bottom:50px;
        margin:0 auto;
    }

    .slick-dots li {
        margin:0;
        @media (min-width: em(800)){
            margin:0 5px;
        }
        button:before{
            font-size:10px;
            color:white;
            @media (min-width: em(800)){
                font-size:15px;
            }
        }
    }

    .slick-dots li.slick-active button:before{
        color:$yellow;
    }

    .slick-slide img{
        margin:0;
        margin-left:20%;
        width:80%;
        border-radius: 10px;
    }

    .slick-next{
        right: calc(20px - $slidingDotBannerOne);
        @media (min-width: em(800)){
            right: calc($slidingDotBannerTwo - 20px); 
        }
        @media (min-width: em(1000)){
            right: calc($slidingDotBannerThree - 20px); 
        }
    }
    .slick-prev{
        z-index: 99;
        left:0;
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: $slidingDotBannerOne; 
        color: $yellow; 
        @media (min-width: em(800)){
            font-size: $slidingDotBannerTwo; 
        }
        @media (min-width: em(1000)){
            font-size: $slidingDotBannerThree; 
        }
    }

    // banner card 
    .banner-card{
        position:relative;

        .img-gradient{
            position:absolute;
            width:100%;
            height:100%;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0.004639355742296902) 0%, rgba(40,40,43,1) 20%, rgba(40,40,43,1) 30%, rgba(40,40,43,0) 100%);
            z-index:50;
        } 
        .info-wrap{
            position:absolute;
            width:45%;
            z-index:999;
            bottom:3vw;
            left:5vw;
            .title{
                font-family: $headingFont;
                font-size:3.5vw;
                color:$yellow;
            }
            .intro{
                display:none;
                font-size:1.2vw;
                color:white;
                font-family: $bodyFont;
                @media (min-width: em(800)){
                    display: block;
                    font-size:13px;
                }
                @media (min-width: em(1000)){
                    display: block;
                    font-size:20px;
                }
            }
            .release-date{
                font-size:13px;
                color:$yellow;
                @media (min-width: em(800)){
                    font-size:13px;
                }
                @media (min-width: em(1000)){
                    font-size:20px;
                }
            }
        }  

        .more-info-btn {
            background-color: #ffffff; /* Button background color */
            color: #000000; /* Button text color */
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease; /* Optional: Adding transition effect */
            font-size:15px;
        }
        
        .more-info-btn:hover {
            background-color: #cccccc; /* Button background color on hover */
        }

    }
}