@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;
.banner-wrapper{
    .slider-container{
        padding-bottom:50px;
    }

    .slick-dots li button:before{
        font-size:10px;
        color:white;

    }
    .slick-dots li button:before{
        font-size:15px;
        color:white;
    }
    .slick-dots li.slick-active button:before{
        color:$yellow;
    }

    .slick-slide img{
        margin:0 auto;
        width:100%;
    }

    .slick-next{
        right:30px;
    }
    .slick-prev{
        z-index: 99;
        left:10px;
    }

    .slick-next::before,
    .slick-prev::before {
        font-size: 40px; 
        color: $yellow; 
    }

    // banner card 
    .img-wrapper{
        position:relative;
        .info-wrap{
            position:absolute;
            bottom: 20px;
            left:0px;
            z-index: 999;
            color: $backgroundColor;
            background-color: rgba(255, 255, 255, 0.718);
            font-family: $movieTitleFont;
            padding:10px;
            padding-left:30px;
            width:65%;
            border-bottom: 4px black solid;
            border-right: 4px black solid;
            @media (min-width: em(700)){
                bottom: 50px;
                width:45%;
            }
            .title {
                font-size: 25px;
                font-weight: normal;
                margin-bottom: 5px;
                @media (min-width: em(700)){
                    font-size: 40px; 
                }
            }
            .release-date{
                font-size: 15px;
                font-weight: normal;
                @media (min-width: em(700)){
                    font-size: 20px; 
                }
            }
        }
    }
}