.slider-container{
    padding-bottom:200px;
}

.slick-dots li button:before{
    font-size:10px;
    color:white;

}
.slick-dots li button:before{
    font-size:10px;
    color:white;
}
.slick-dots li.slick-active button:before{
    color:yellow;
}