@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.movie-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    margin:10px auto;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    article{
        margin:0;
    }

    @media (min-width: em(600)){
        flex-direction: row;
        justify-content: flex-start;
    }

}