@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.movie-card{
    position:relative;
    width:$movieCardWidth;
    height:488px;
    padding:0;
    margin:0 auto;

    img{
        position:absolute;
        top: 0;
        left:0;
        width: $movieCardWidth;
        overflow: hidden;
        border-radius: $border-radius;
    }

    .img-shadow {
        position: absolute; 
        top: 5px; 
        left: 5px; 
        width: $movieCardWidth; 
        height: $movieCardHeight; 
        border-radius: $border-radius;
        background: rgb(0, 0, 0);
      }
      
    .heartIcon{
        position: absolute;
        background-color: transparent;
        border:transparent;
        width:30px;
        top:12px;
        left:160px;

        &:focus,
        &:active {
            background-color: transparent;
            border: none;
            outline: none; /* Optionally remove the outline */
        }
    }

    .movie-short-info{
      position:absolute;
      top:$movieTitleTop;
      font-family: $bodyFont;
      left:10px;
      color:$light;
    }


    .movie-title {
      font-size:20px;
      font-weight: bold;
      color:$light;
    }

    .movie-title:hover{
      color:$yellow;
    }

    .movie-date{
      font-size:17px;
      font-weight: normal;
    }

    .rating-icon-wrapper{
      position: absolute;
      top:$movieCardHeight - 20;
      left:13px;
    }

    .hover-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: $movieCardWidth;
      height: $movieCardHeight;
      background-color: rgba(0, 0, 0, 0.555); 
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      color: white;
      font-size: 16px;
      transition: opacity 0.3s ease; /* Optional: Adding transition effect */
  }
  
  .movie-info {
      margin-bottom: 5px;
  }
  
  .more-info-btn {
      background-color: #ffffff; /* Button background color */
      color: #000000; /* Button text color */
      padding: 10px 18px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease; /* Optional: Adding transition effect */
  }
  
  .more-info-btn:hover {
      background-color: #cccccc; /* Button background color on hover */
  }

  .explain-text{
    display:none;
  }
  .explain-text p{
    margin:0;
    padding:0 10px;
    color:black;
  }

  .heartIcon:hover + .explain-text{
    position:absolute;
    top:16px;
    left:30px;
    display:block;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    z-index:0!important;
  }
  
  }
